/*estilos generales*/
*{
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
}
:root{
    --Text-color: #1f3783;
    --Pink-color: #e674c9;
    --gradient:  linear-gradient(90deg, rgba(64,161,214,1) 20%, rgba(226,109,179,1) 89%);
}
body {
    margin: 0px;
    font-family: raleway ;
}
.tituloW{
    font-weight: bold;
    font-size: 45px;
}
.tituloA{
    font-weight: bold;
    font-size: 45px;
    color: var(--Text-color);
}
.textoA{
    font-size: 20px;
    color: var(--Text-color);
    line-height: 25px;
}
.botonW{
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
    transition: all 0.5s;
}
.BGgradient{
    background: var(--gradient);
}
.BGpink{
    background: var(--Pink-color);
}