.tituloH{
    font-weight: bold;
    line-height: 75px;
    font-size: 80px;
    opacity: 60%;
   }


@media (min-width: 300px) and (max-width: 770px) {
    .tituloH{
        font-weight: bold;
        line-height: 40px;
        font-size: 45px;
        opacity: 60%;
    }
    .textoHome{
        text-align: center;
    }
}
